.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem/* 56px */;
  width: 3.5rem/* 56px */;
  padding: 1rem/* 16px */;

  border-radius: 9999px;

  background-color: var(--primary);

  color: var(--white);

  transition: transform 300ms;
}

.icon-link:hover {
  transform: scale(1.05);
}